/* Responsibale on the draggable header and main navbar */
#main-header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #222;
  color: #fff;
  position: sticky;
  z-index: 1000;
}

#logo {
  display: flex;
}

#logo img {
  height: 2.1em; /* Slightly larger than the text (1.6x font size) */
  margin-right: 0.4em;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.burger-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px; /* change to left: -250px for Hebrew */
  width: 125px;
  height: 100%;
  background-color: #262626;
  color: white;
  transition: right 0.3s ease;
  padding-top: 60px;
  z-index: 999;
}

.side-menu.open {
  right: 0; /* change to left: 0 for Hebrew */
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 1rem;
}

.side-menu a {
  color: white;
  text-decoration: none;
}
